:root {
  --color-text: #212121;
  --color-fon: #e5e5e5;
  --color-acsent: #2196f3;
  --color-buttom: #757575;
}
body {
  background: var(--color-fon);
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  margin: 0;
}
ul {
  list-style: none;
}
 .container {
width: 1240px;
margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;
}
.test{
  background-color: aqua;
}
.tests{
  background-color:#ffffff;
}
.header {
  margin-top: 0;
  margin-bottom: 0;
 }
.list {
  margin: 0;
  padding: 0;
}
/* стилизация логотипа в футере и хедере */
.logo {
font-family: Raleway, sans-serif;
font-weight: 700;
line-height: 1.2;
font-size: 26px;
color: var(--color-text);
text-decoration: none;
letter-spacing: 0.03em;
}
.logo-web {
  font-family: Raleway, sans-serif;
  color: var(--color-acsent);
 }
.logo-web-bottom {
font-family: Raleway, sans-serif;
letter-spacing: 0.03em;
line-height: 1.2;
font-size: 26px;
color:#FFFFFF;
text-decoration: none;
}
/* Стилизация навигации */
.site-nav {
  font-weight:500;
  line-height:1.14;
  font-size:14px;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--color-acsent);
}

.site-nav .link.current {
  color: var(--color-acsent);
  text-decoration: none;
}
.link {
  color: var(--color-text);
  text-decoration: none;
}
/*Стилизация контактов в футере и хедере  */

.adress {
  color: var(--color-buttom);
  font-weight:500;
  line-height:1.14;
  font-size:14px;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
  }
.adress:hover,
.adress:focus {
  color: var(--color-acsent);
}
.adress.curent {
  color: var(--color-acsent);
}
.adress-street {
  color: #ffffff;
  text-decoration: none;
  }

.adress-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* Стилизация кнопок на главной странице и портфолио */
.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  color: var(--color-text);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
   }
.butbuner {
 display: inline-block;
 font-family: Roboto, sans-serif;
 font-weight: 700; 
 line-height: 1.88;
 letter-spacing: 0.06em;
 padding:10px 32px;
 min-width: 200px;
 height: 50px;
 text-align: center;
 margin-top: 30px;
}
.butportfolio {
 display: inline-block;
 padding:10px 22px;
 height: 38px;
 text-align: center;
}

.button:hover, 
.buttom:focus { 
color: #ffffff; 
background-color: var(--color-acsent); 
} 
.button.primary {
  background-color: var(--color-acsent);
  color: #ffffff;
  }
.button.secondery {
  background-color: #f5f4fa;
  color: var(--color-text);
}

/* стилизация блока с заказом услуги */
.baner {
  font-weight: 900;
  line-height:1.40;
  font-size:44px;
  background: #2f303a;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  width: 1600px;
 height: 600px;
 }
 .hero {
text-align: center;
 }

/* стилизация особенностей студии */
.studio {
font-size:  0;
}
.fishka {
  width: 1170px;
  height: 101px;
}

.studio-titel {
  line-height:1.14;
  font-size:14px;
  font-family: Roboto, sans-serif;
  font-weight:700;
  letter-spacing: 0.03em;
  
 }
.studio-text {
   margin-bottom: 0;
  color: var(--color-buttom);
  font-weight:400;
  line-height:1.70;
  font-size:14px;
  letter-spacing: 0.03em;
  margin-top: 10px;
 }
/* стилизация чем мы занимаемся */
.work-studio {
    font-size:36px;
    font-weight:700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 94px;
    text-align: center;
}

/* стилизация раздела команда */
.comanda {
  font-size:36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 94px;
  text-align: center;
}
.comanda-fio {
  margin-top: 0;
  margin-bottom: 0;
font-weight: 500; 
line-height: 1.20;
font-size:16px;
letter-spacing: 0.03em;
margin-top: 30px;
}

.profeshion {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-buttom);
  font-weight: 400;
  line-height:1.20;
  font-size:16px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* стилизация раздела футер */
.footer {
  margin-top: 94px;
}
/* стилизация раздела наши работы страница портфолио */
.works-portfolio {
font-size:  0;
}
.work-titly {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.40;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-top: 20px;
  }
.types-works {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-buttom);
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-bottom: 20px;
}
